    <tr>
        <th colspan="<%= 1 + @langs.size %>" class="section">
            <%= data.name %>
        </th>
    </tr>

    <tr>
        <th>% passed</th>
<% @langs.each { |lang|
     if lang == '' %>
        <td></td>
<%   else %>
        <td><%= sprintf('%d', (100.0 * (data.count_ok[lang] || 0) / (data.aggr.size || 1))) %>%</td>
<%   end
   } %>
    </tr>

<% data.aggr.keys.sort.each { |test_name|
     tests = data.aggr[test_name] %>
    <tr>
        <td><%= h test_name %></td>
<%   @langs.each { |lang|
       if lang != ''
         test = tests[lang]
         if test %>
        <td class="<%= test.status.to_s.tr('_', '-') %>" title="<%= lang %>: <%= h test_name %>"><%= test.status.to_s.tr('_', ' ') %>
<%         if test.failure %>
          <div class="add-info">
<%           if test.failure.file_name or test.failure.line_num %>
              <div class="filename"><%= test.failure.file_name %>:<%= test.failure.line_num %></div>
<%           end %>
              <div class="message"><%= test.failure.message %></div>
<%           if test.failure.trace %>
              <pre class="trace"><%= test.failure.trace.join("\n") %></pre>
<%           end %>
          </div>
<%         end %>
        </td>
<%       else %>
        <td class="no-run" title="<%= lang %>: <%= h test_name %>">didn't run</td>
<%       end
       else %>
        <td></td>
<%     end
     } %>
    </tr>
<% } %>
