    <tr>
        <th colspan="<%= 1 + @langs.size %>" class="section">
            <%= data.name %>
        </th>
    </tr>

    <tr>
        <th>% passed</th>
<% @langs.each { |lang| %>
        <td><%= sprintf('%d', (100.0 * (data.count_ok[lang] || 0) / (data.aggr.size || 1))) %>%</td>
<% } %>
    </tr>

<% data.aggr.keys.sort.each { |test_name|
     tests = data.aggr[test_name] %>
    <tr>
        <td><%= h test_name %></td>
<%   @langs.each { |lang|
       test = tests[lang]
       if test %>
        <td class="<%= test.status.to_s.tr('_', '-') %>"><%= test.status.to_s.tr('_', ' ') %></td>
<%     else %>
        <td class="no-run">didn't run</td>
<%     end
     } %>
    </tr>
<% } %>
